body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI" , "Segoe" , "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
}


.login{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left__login{
    background-color: black;
    height: 100%;
    width: 60%;
    background: url(../img/banner-1.jpg) center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.right__login{
    width: 40%;
    text-align: center;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right__login img{
    width: 200px;
    margin: 20px;
}

.right__login span {
    margin: 20px;

    font-size: 25px;
}

#right__span-titulo{
    margin-bottom: 20px;
}

.right__input{
    outline: none;
    width: 350px;
    height: 58px;
    padding: 0px 3px 0px 3px;
    border: solid 1px #BABABA;
    margin-bottom: 8px;

    font-size: 20px;

    transition-duration: .5s;
}
.right__input:focus {
    transform: scale(1.05);
    border-color: #016795;
}

.right__button{
    width: 50%; 
    height: 50px;

    border: none;

    font-size: 25px;
    font-family:"Segoe UI";

    background-color: #0000f5;
    color: white;

    cursor: pointer;

    margin: 20px;

    transition-duration: .5s;
}

.right__button:hover{
    transform: scale(1.08);

    box-shadow: 2px 2px 3px black;
}

@media (max-width: 879px) {
    .login {
        justify-content: center;
        align-items: center;
    }
    .left__login {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .right__login {
        position: absolute;
        background-color: white;

        width: 70%;
        
        padding: 30px;
    }
}

@media (max-width:462px) {
    .right__login img {
        width: 40vw;
    }

    .right__login input {
        width: 40vh;
    }
}

@media (max-width:308px) {
    .right__login input {
        width: 100%;
    }
}