@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #1B2431;
    --cor-terciaria: #016795;
    --cor-quartenaria: #1E488F;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}


* {
    font-family: 'Montserrat', sans-serif;
}


.laboratorio {
    width: 100%;
    background: url('../img/fundosobre.jpg') center top no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 470px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cor h1 {
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px black;
}

.info {
    /* margin: 0px 20px 0px 20px; */


    justify-content: center;
    align-items: center;
}

.info .aboutUs {
    width: 100%;
    margin: 30px 0px 30px 0px;
}

.info .aboutUs h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;

    margin-bottom: 15px;
}

.aboutUs__p {

    width: 100%;
    display: flex;
    justify-content: center;

}

.aboutUs__p p {
    font-size: 23px;
    color: #232323;
    width: 70%;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90%;
    min-height: 100vh;
    height: auto;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}

.container-card .card {
    flex: 1 1 200px;
    margin: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
    min-height: 455px;
    height: auto;
    padding: 5px;
    z-index: -1;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 45px 0px, rgba(0, 0, 0, 0.1) 0px 61px 67px 0px;
}


.container-card .card:hover {
    transform: scale(1.1);
    box-shadow: var(--cor-secundaria) 0px 2px 45px 0px, var(--cor-secundaria) 0px 25px 30px 0px;
}

.imgCard {
    width: 100%;
    height: 200px;
}

.card .read h1 {
    color: black;
    margin: 10px auto 10px auto;
    font-weight: 500;
}

.card .read p {
    color: black;
}

/*
Time MIND6
*/

.cardsTeam {
    text-align: center;
    width: 90%;
    margin: auto;
}

#Team {
    padding-top: 11px;
    background-color: var(--cor-quartenaria);
}

#Team h1.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: #FFF;
    margin: 20px 15px;
}

.cardsTeam {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.card-team {
    margin: 20px 20px;
    padding: 10px;

    min-width: 200px;
    flex: 1;

    background-color: var(--cor-secundaria);

    transition-duration: 1s;
}

.card-team h1, .card-team p {
    cursor: default;
}



.card-team img {
    width: 55%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 360px;
    transition-duration: .5s;
}
.card-team:hover {
    transform: scale(1.05);
    padding: 0;
    
    z-index: 0;
    box-shadow: 1px 1px 10px black;
}
.card-team:hover img {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
}
.card-team i {
    transition-duration: .5s;
}
.card-team i:hover {
    color: var(--cor-terciaria);
}
.icon-card{
    width: 55%;
    margin: 0 auto;
    margin-top: 20px;
}
#animation-container {
    margin: 0!important;
    padding: 0;
}

/*Ajuste de imagem*/
#vicariAjuste {
    width: 219px;
}

#cesarAjuste {
    width: 217px;
}

/*Final de Ajuste*/

.card-team h1 {
    text-transform: uppercase;
    margin: 10px auto 10px auto;

    color: rgb(255, 255, 255);
}

.card-team p {
    font-weight: 500;
    margin-bottom: 5px;
    color: #f2f2f2;
}

.card-team a {
    font-size: 35px;
    letter-spacing: 10px;

    margin-top: 5px;
}

.card-team i {
    color: #f2f2f2;
}

.read {
    width: 300px;

    margin: 0 auto;

    text-align: justify;
}

.read h1 {
    text-align: center;
}


/*RESPONSIVIDADE*/

@media (max-width: 1200px) {
    .cor h1 {
        text-transform: uppercase;
        color: white;
        font-size: 85px;
        text-shadow: 2px 2px black;
    }

    .info .aboutUs h1 {
        color: black;
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .aboutUs__p p {
        font-size: 23px;
        color: #232323;
        width: 70%;
        text-align: justify;
    }
}

@media only screen and (max-width: 600px) {
    .cor h1 {
        font-size: 10vw;
        margin-top: 65px;
    }

    .info {
        margin: auto -10vw;
        justify-content: center;
        align-items: center;
    }

    .info .aboutUs h1 {
        color: black;
        text-transform: uppercase;
        text-align: center;
        font-size: 19px;
        width: 75vw;
        margin: 10px 23vw;
    }

    .aboutUs__p p {
        font-size: 16px;
    }

    #Team {
        padding-top: 11px;
        background-color: var(--cor-quartenaria);
        margin-top: 25px;
    }


    .container-card {
        flex-wrap: wrap;
        width: 100%;
        max-width: 90%;
        min-height: 100vh;
        height: auto;
        margin: 20px auto;
        text-align: center;
    }
    .card p {
        margin: 0 20px;
    } 
}
